<h1>Our Physicians</h1>
<p id="notice"><%= notice %></p>
<%= link_to 'Home Page', root_path %>
<strong>|</strong>
<%= link_to 'Enter New Physician', new_doctor_path %>
<br><br><br>
<ul>
    <% @doctors.each do |doctor| %>
      <li>
        <strong>Name:</strong>
        <%= doctor.first_name %>
        <%= doctor.last_name %>
        <br>
        <strong>Gender:</strong>
        <%= doctor.gender_name %>
        <br>
        <strong>Specialty:</strong>
        <%= doctor.specialty %>
      </li>

        <br><br>

        <%= link_to 'More Information', doctor_path(doctor) %>
        <strong>|</strong>
        <%= link_to 'Edit', edit_doctor_path(doctor) %>

        <br><br><br>
<% end %>
</ul>
